# .env.example - Bunları GitHub Secrets-da saxlayın

# Supabase Configuration
SUPABASE_URL=https://kgizqvyekmadsorqpbpc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtnaXpxdnlla21hZHNvcnFwYnBjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NjQ4NDUsImV4cCI6MjA5MDU0MDg0NX0.uJX4u41FHgoKk7JOf2u8fHAA0Utl1NGOc8dCVrtlcMU

# Supabase Storage (S3 uyğunluğu)
S3_ACCESS_KEY=1c1662d6ea35d30e1428e4afe11f81d5
S3_SECRET_KEY=2e07ed2d9ab9542afd91783626a373648b2baf3d7bc434891f44c46f24f7494c
S3_ENDPOINT=https://kgizqvyekmadsorqpbpc.storage.supabase.co/storage/v1/s3
BUCKET_NAME=music
REGION_NAME=ap-southeast-2